.elementor-228 .elementor-element.elementor-element-4e2a1d7 > .elementor-container {max-width: 801px;}
.elementor-228 .elementor-element.elementor-element-4e2a1d7 {padding: 40px 0px 0px 0px;}
.elementor-228 .elementor-element.elementor-element-7f66173 {text-align: center;}
.elementor-228 .elementor-element.elementor-element-7f66173.elementor-widget-heading .elementor-heading-title {color: #000;}
.elementor-228 .elementor-element.elementor-element-7f66173 .elementor-heading-title {font-family: "PT Sans",Sans-serif;font-size: 47px;font-weight: 800;}
.elementor-228 .elementor-element.elementor-element-a589aa0 {color: #0c0c0c;font-family: "Lato",Sans-serif;font-size: 16px;}
.elementor-228 .elementor-element.elementor-element-a589aa0 > .elementor-widget-container {margin: 70px 0px 0px 0px;}
.elementor-228 .elementor-element.elementor-element-d222c38 {color: #0c0c0c;}
.elementor-228 .elementor-element.elementor-element-5c6105f a.elementor-button, .elementor-228 .elementor-element.elementor-element-5c6105f .elementor-button {background-color: #f88400;}
.elementor-228 .elementor-element.elementor-element-5c6105f > .elementor-widget-container {margin: 0px 0px 50px 0px;}